# Pandas Tutorial

## Importing Data

In [2]:
import pandas as pd

df = pd.read_csv("datasets/pokemon_data.csv")
df_xlsx = pd.read_excel("datasets/pokemon_data.xlsx")
df_txt = pd.read_csv("datasets/pokemon_data.txt", delimiter="\t")
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

## Reading Data

In [4]:
# Reads headers of all columns
df.columns

# Reads specific column(s)
df["Name"][0:5]
df[["Name", "Type 1", "HP"]]
df.Name

# Reads row
# iloc stands for integer location, aka the row number of the thing being printed. Slicing is also possible
df.iloc[1:5]

# for index, row in df.iterrows():
#     print(index, row["Name"])

# Read a specific location
df.iloc[2, 1]

print(df.loc[df['Type 1'] == 'Rock'])

       #                       Name Type 1    Type 2   HP  Attack  Defense  \
80    74                    Geodude   Rock    Ground   40      80      100
81    75                   Graveler   Rock    Ground   55      95      115
82    76                      Golem   Rock    Ground   80     120      130
103   95                       Onix   Rock    Ground   35      45      160
149  138                    Omanyte   Rock     Water   35      40      100
150  139                    Omastar   Rock     Water   70      60      125
151  140                     Kabuto   Rock     Water   30      80       90
152  141                   Kabutops   Rock     Water   60     115      105
153  142                 Aerodactyl   Rock    Flying   80     105       65
154  142  AerodactylMega Aerodactyl   Rock    Flying   80     135       85
200  185                  Sudowoodo   Rock       NaN   70     100      115
265  246                   Larvitar   Rock    Ground   50      64       50
266  247                    Pupitar   Rock    Ground   70      84       70
267  248                  Tyranitar   Rock      Dark  100     134      110
268  248    TyranitarMega Tyranitar   Rock      Dark  100     164      150
323  299                   Nosepass   Rock       NaN   30      45      135
369  337                   Lunatone   Rock   Psychic   70      55       65
370  338                    Solrock   Rock   Psychic   70      95       85
377  345                     Lileep   Rock     Grass   66      41       77
378  346                    Cradily   Rock     Grass   86      81       97
379  347                    Anorith   Rock       Bug   45      95       50
380  348                    Armaldo   Rock       Bug   75     125      100
414  377                   Regirock   Rock       NaN   80     100      200
453  408                   Cranidos   Rock       NaN   67     125       40
454  409                  Rampardos   Rock       NaN   97     165       60
455  410                   Shieldon   Rock     Steel   30      42      118
456  411                  Bastiodon   Rock     Steel   60      52      168
486  438                     Bonsly   Rock       NaN   50      80       95
528  476                  Probopass   Rock     Steel   60      55      145
583  524                 Roggenrola   Rock       NaN   55      75       85
584  525                    Boldore   Rock       NaN   70     105      105
585  526                   Gigalith   Rock       NaN   85     135      130
627  566                     Archen   Rock    Flying   55     112       45
628  567                   Archeops   Rock    Flying   75     140       65
700  639                  Terrakion   Rock  Fighting   91     129       90
758  688                    Binacle   Rock     Water   42      52       67
759  689                 Barbaracle   Rock     Water   72     105      115
766  696                     Tyrunt   Rock    Dragon   58      89       77
767  697                  Tyrantrum   Rock    Dragon   82     121      119
768  698                     Amaura   Rock       Ice   77      59       50
769  699                    Aurorus   Rock       Ice  123      77       72
773  703                    Carbink   Rock     Fairy   50      50      150
795  719                    Diancie   Rock     Fairy   50     100      150
796  719        DiancieMega Diancie   Rock     Fairy   50     160      110

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
80        30       30     20           1      False
81        45       45     35           1      False
82        55       65     45           1      False
103       30       45     70           1      False
149       90       55     35           1      False
150      115       70     55           1      False
151       55       45     55           1      False
152       65       70     80           1      False
153       60       75    130           1      False
154       70       95    150           1      False
200       30       65     30           2      False
265       45       50     41           2      False
266       65       70     51           2      False
267       95      100     61           2      False
268       95      120     71           2      False
323       45       90     30           3      False
369       95       85     70           3      False
370       55       65     70           3      False
377       61       87     23           3      False
378       81      107     43           3      False
379       40       50     75           3      False
380       70       80     45           3      False
414       50      100     50           3       True
453       30       30     58           4      False
454       65       50     58           4      False
455       42       88     30           4      False
456       47      138     30           4      False
486       10       45     10           4      False
528       75      150     40           4      False
583       25       25     15           5      False
584       50       40     20           5      False
585       60       80     25           5      False
627       74       45     70           5      False
628      112       65    110           5      False
700       72       90    108           5       True
758       39       56     50           6      False
759       54       86     68           6      False
766       45       45     48           6      False
767       69       59     71           6      False
768       67       63     46           6      False
769       99       92     58           6      False
773       50      150     50           6      False
795      100      150     50           6       True
796      160      110    110           6       True

## Sorting and Describing Data

In [3]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [4]:
# sorted_df = df.sort_values(['Type 1', 'Type 2', 'HP'], ascending=[1, 1, 0])

# print(sorted_df)

## Changing the Data

In [5]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.sort_values('Total', ascending=False).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,700
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,700
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700

In [6]:
df.drop(columns=["Total"])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

df = df.sort_values('Total', ascending=False)

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False

In [7]:
df.to_csv('modified.csv', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [26]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
1,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False